<div
  class="header pb-8 pt-5 pt-md-8"
  style="min-height: 50px; background-image: url(assets/images/common/banner.png); background-size: cover; background-position: center top;"
></div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow parent">
        <div style="height: 550px;">
          <div>
            <input
              type="button"
              class="btn btn-info"
              value="Booking"
              routerLinkActive="active"
              [routerLink]="['/user/booking/usBooking']"
            />
            <input
              type="button"
              class="btn btn-info"
              value="Edit"
              routerLinkActive="active"
              [routerLink]="['/user/booking/usEdit']"
            />
            <input
              type="button"
              class="btn btn-info"
              value="History"
              routerLinkActive="active"
              [routerLink]="['/user/booking/usHistory']"
            />
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
