$white: #ffffff;
$black: #000000;
$charcoal-grey: #3d3d3f;
$dark-grey: #202124;

@mixin base-style(  $font-size: 14px,
                    $font-weight:normal,
                    $line-height:1.57,
                    $color: $black)
{
    font-size: $font-size ;
    font-weight:$font-weight;
    font-style: normal;
    font-stretch: normal;
    line-height: $line-height;
    letter-spacing: normal;
    color: $color ;
}
.login-wrapper{
  background: url('../../../assets/images/common/bg-login.jpg');
  position: fixed;
  width: 100%;
  height:100%;
}
.form-wrapper{

  position: fixed;
  top:10%;
  left: 35%;
  // transform: translate(-50%, -50%);
  border-radius: 2px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
  background-color: $white;
  text-align: center;
  padding: 32px;
  h5{
      @include base-style($font-size: 28px,
              $font-weight:bold,
              $line-height:1.29,
              );
  }
  a{
      @include base-style($font-size: 12px,
              $font-weight:600,
              $line-height:normal,
              );
  }
  form{
      
      text-align: left;
      label{
          margin-top: 20px;
          display: block;
          @include base-style($font-size: 12px,
              $font-weight:600,
              $line-height:1.5,
              );
      }
      input{
          display: block;
          margin-top: 8px;
          margin-bottom: 6px;
          padding: 14px 16px;
        
          @include base-style($font-size: 14px,
              $font-weight: 500,
              $line-height:1.43,
             );
          width: 316px;
          height: 48px;
          border-radius: 2px;
          border: solid 1px $black;
          background-color: var(--white);
      }
      button{
          display: block;
          margin: 40px auto;
          border-color: $black;
          border-radius: 2px;
          background-color: $white;
          @include base-style($font-size: 18px,
                  $font-weight: 600,
                  $line-height:1.73,
                  );
          width: 316px;
          height: 48px;
          &:hover{
            background-color: $black;
            color: $white;
          }
          &:disabled{
            background-color: $black;
            color: $white;
          }
      }
  }
 
}
.invalid-feedbackk{
  color: red;
}