thead th { position: sticky; top: 0; }

tfoot th {
    position: sticky; bottom: 0;

}


tfoot > tr > th {
    margin: 0 10% !important;
    padding: 5px !important;
}


thead th:hover {
    color: black     !important;
    background-color: aqua !important;
}