<div
  class="header pb-8 pt-5 pt-md-8"
  style="min-height: 50px; background-image: url(assets/images/common/banner.png); background-size: cover; background-position: center top;"
>
  <div class="container-fluid">
    <div class="header-body">
      <div class="row margintop">
        <form [formGroup]="searchForm" (ngSubmit) = "search()" class="navbar-search navbar-search-dark form-inline ml-3 d-none d-md-flex">
          <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input formControlName="keyword" placeholder="Search shelf..." class="form-control"  type="text" (focus)="focus = true"
              (blur)="focus = false">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="shelf-list">
          <div id="chinh">
            <div style="height: 620px;">
              <div id="shelf" *ngFor="let shelf of shelfStatusForDraw">
                <div
                  class="shelfDraw"
                  [class.free]="shelf.value == 0"
                  [class.used]="shelf.value == 1"
                  [class.full]="shelf.value == 2"
                >
                  <input
                    class="shelf"
                    type="image"
                    src="/assets/images/common/shelf.png"
                    alt="Submit"
                    id="{{ shelf.shelfId }}"
                    (click)="onShelfClick($event)"
                  />
                  <span
                    width="100%"
                    id="{{ shelf.shelfId }}"
                    (click)="onShelfClick($event)"
                    >{{ shelf.shelfId }}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  Modal content
  <div class="modal-content" style="height: 50% !important;">
    <div style='height: 100%;'>
      <span class="close" (click)="onCloseModal()">&times;</span>  
      <div
        class=" trai"
        [class.free]="shelf.status == 0"
        [class.used]="shelf.status == 1"
        [class.full]="shelf.status == 2"
      >
        <input
          class="shelf"
          type="image"
          src="/assets/images/common/shelf.png"
          style="padding: 10px"
          alt="Submit"
          width="100%"
          height="90%"
        />
        <span width="100%" height="10%" style="text-align: center; padding-bottom: 10px"><strong>{{shelf.shelfId}}</strong></span>
      </div>
      <div class="phai">
        <table class="table table-hover" style="text-align: center">
          <thead>
            <tr>
              <th style="text-align: center">Monday</th>
              <th style="text-align: center">Tuesday</th>
              <th style="text-align: center">Wednesday</th>
              <th style="text-align: center">Thusday</th>
              <th style="text-align: center">Friday</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>{{ shelf.detail[0] }}</strong>
              </td>
              <td>
                <strong>{{ shelf.detail[1] }}</strong>
              </td>
              <td>
                <strong>{{ shelf.detail[2] }}</strong>
              </td>
              <td>
                <strong>{{ shelf.detail[3] }}</strong>
              </td>
              <td>
                <strong>{{ shelf.detail[4] }}</strong>
              </td>
            </tr>
            <tr></tr>
          </tbody>
        </table>
      </div>
         
    </div>
    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
  </div>
</div>
