$white: #ffffff;
$black: #000000;
$yellow: #FFFF00;
$blue : #00C9FF;
$green: #4CAF50;
$chinh: #f5365c ;
$red: #EA1E30;
.shelf-list{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}
.shelf-wrapper{
    margin: 10px 0px;
}

.col-2-custom {
    width: 20%;
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.margintop{
    margin-top: -50px;
}

#shelf-modal{
    display: none;

    position: fixed;
    top: 32%;
    left: 45.5%;
    //transform: translate(-50%, -50%);

    border-radius: 4px;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.08);
    background-color: #00C9FF;
    color: #fff;
    //border: 2px solid $yellow;
    text-align: center;
    padding: 80px;
    .h1{
        color: #fff;
    }
    .btn-close{
        position: absolute;
        bottom: 0;
        right:0;
        border:none;
        background-color: #5e72e4;
        color:#fff;
        &:hover{
            border: #5e72e4;
        }
    }   
}


#chinh div.shelfDraw{
    text-align: center;
    padding: 1%;
    margin: 1%;
    width : 12%;
    float: left;
    border-radius: 2%;
    position: relative;
  }
  #chinh div.shelfDraw:hover{
    background-color: rgb(135, 141, 135);
  }
  #chinh  .free {
    background-color:  rgb(127, 233, 130);
    color: green;
  }
  #chinh .used {
    background-color:  rgb(255, 251, 0);
    color:  orange;
  }
  #chinh .full {
    background-color: #f1565e;
    color: red;
  }
  #chinh input.shelf{
    width:100%;
  }
  #chinh img{
    width:100px !important;
  }
  #chinh span{
    font-size: 20px;
    font-weight: bold;
  }


div.modalShow{
    display:block
  }
  
  div.modalHide{
    display:none
  }
  
  /* Modal Content/Box */
  div.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  div.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right ;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .trai{
    float: left;
    width: 20%;
    text-align: center
  }
  
  .phai {
    float: right;
    width: 80%;
    align: center
  }
  .free {
    background-color:  rgb(127, 233, 130);
    color: green;
  }
  .used {
    background-color:  rgb(255, 251, 0);
    color:  orange;
  }
  .full {
    background-color: #f1565e;
    color: red;
  }
  