<div class="header pb-8 pt-5 pt-md-8" style="min-height: 50px; background-image: url(assets/images/common/banner.png); background-size: cover; background-position: center top;">
  <div class="container-fluid">
    <div class="header-body">
      
      <div class="row margintop">

            <!-- Form -->
        <form [formGroup]="searchForm" (ngSubmit) = "search()" class="navbar-search navbar-search-dark form-inline ml-3 d-none d-md-flex">
          <div class="form-group mb-0" [ngClass]="{ 'focused': focus === true }">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-search"></i></span>
              </div>
              <input formControlName="keyword" placeholder="Search shelf..." class="form-control"  type="text" (focus)="focus = true"
              (blur)="focus = false">
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <!-- <div class="card-header border-0">
          <h3 class="mb-0">Card tables</h3>
        </div> -->

        <div class="shelf-list">
           
              <div *ngFor="let shelf of shelves" class="col-2-custom  shelf-wrapper">
                  <button class="shelf" [ngClass]="{'shelf-occupied': shelf.user_shelf != null}" (click) = onShelfClick(shelf)>{{shelf.positionNumber}}</button>
              </div>
        
        </div>
      </div>
    
    </div>
  </div>
 
</div>

<div id="shelf-modal">
  <div  *ngIf="shelfObjectClicked">
    <h2>Shelf {{shelfObjectClicked.positionNumber}} - Floor {{shelfObjectClicked.floor}}</h2>

    <div *ngIf="!shelfObjectClicked.user_shelf">
        <h1>Available ! </h1>
        <button class="btn btn-primary">Booking</button> 
    </div>
      
    <div *ngIf="shelfObjectClicked.user_shelf">
      <h1>Unavailable ! </h1> 
      
    </div>
      <button (click)="onCloseModal();" class="btn-close">Close</button>

    
  </div>

</div>